
.TodoItem {
  width: 100%;
  background-color: #fff;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}


.TodoItem p {
  font-size: 24px;
}

.TodoItem p.done {
  text-decoration: line-through;
}