form {
  width:500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}
form textarea {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
form div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
form div button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
}

form div button.success {
  background-color: #1A5F7A;
}

form div button.canceled {
  background-color: #7149C6;
}

form div button.success[disabled] {
  background-color: gray;
  cursor: not-allowed;
}